.appCard {
  margin: 15px 20px 15px 20px;
}

.titleFlex {
  display: flex;
  justify-content: space-between;
}

.appSubtitle {
  margin-bottom: 25px;
}

.subscriptionLine {
  display: flex;
}

.subscriptionItem {
  display: flex;
  align-items: center;
}

.categoryName {
  font-size: 15px;
}
